.yourEvents > .table > tbody > tr > td {
     vertical-align: middle;
}

.yourEvents {
	text-align: center;
}

.eventManageButton {
	border: none;
	background: none;
	color: #0000EE ;
}

.eventManageButton > a{
	color: #0000EE !important;
}


.toggled {
	background: #d3d3d3;
	border: 1px solid grey;

	border-radius: 2px;
}

.containerForEventsToDelete {
	padding: 10px;
	border: none !important;
	background: white !important;
}

.containerForEventsToDelete > ul > li {
	background-color: orange;
	font-weight: bold;
	border: 1px solid black;
	margin-top: 3px;
}

.containerForEventsToDelete > ul {
	background-color: white;
	padding: 10px;
	margin: 10px;
}

.noEvents {
	text-align: center;
}

.linkToEvent {
	color: #18acc9 !important;
}

.linkColumn {
	max-width: 150px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.linkColumn > a {
	display: none;
}

.capacityColumn {
	max-width: 60px !important;

	overflow: hidden;
	text-overflow: ellipsis;
}

.slotsColumn {
	max-width: 80px !important;

	overflow: hidden;
	text-overflow: ellipsis;
}

@media only screen and (max-width: 768px) {

	.copy {
		padding: 2px !important;
		font-size: 10px !important;
	}

}