.welcomeTitle {
	background-color: orange;
	font-size: 13px;
	font-weight: bold;
	max-width: 150px;
	max-height: 50px;
	text-align: center;
	padding: 15px;
	border-radius: 1px;
	box-shadow: 3px 3px 3px 3px rgba(0, 0, 255, .2);
}

.weeksEvent {
	margin-top: 25px;
	padding: 10px;
	width: 95%;
	text-align: center;
	min-width: 250px;
}
.weekEventHeader {
	font-weight: bold;
	text-align: center;
	border-bottom: 2px solid orange;
	margin-bottom: 5%;
}

.eventsContainer {
	
	height: 85%;
	width: 100%;
	margin: 1%;
	padding: 1%;
	justify-content: left;
	
}

.eventBlock:hover
{
	background-color: #add8e6;
	cursor: pointer;
	
	
}

.eventBlock {
	position: relative;
	background-color: white;
	display: inline-block;
	border-radius: 10px;
	margin: 5px;
	box-shadow: 3px 3px 3px 3px rgba(0, 0, 255, .2);
	width: 230px;
	height: 230px;
	margin: 2%;
	text-align: center;
	overflow-x: hidden;
	overflow-y: hidden;
	
}

.titleContainer {
	height: 60%;
	width: 100%;
	text-align: center;
	display: block;
}

.eventBlockName {
	width: 100%;
	padding: 10px;
	font-size: 20px;
	font-weight: bold;
	vertical-align: middle;
	background-color: #333;
	color: orange;
	border-radius: 10px 10px 0 0;
	max-height: 35%;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.eventIcon {
	width: 95%;
	min-width: 95%;
	height: 55%;
	border-radius: 0 0 10px 10px;
	border: 1px grey solid;
	margin: 0 auto;
}

.eventIcon > img {
	display: block;
	width: 100%;
	margin-top: 5%;
	border-radius: 0 0 10px 10px;
}

.eventBlockCreator {
	display: block;
	font-weight: bolder;
	font-size: 16px;
	font-style: italic;
	padding-right: 3%;
	text-align: right;
}

.eventBlockSpace {
	overflow: hidden;
	padding-left: none;
	margin-left: none;
	text-overflow: ellipsis;
}

.infoHolder {
	display: block;
	font-size: 16px;
	text-align: left;
	margin: 0;
	padding: 0;
	padding-left: 5px !important;
	color: red;
}

.finishedEvent {
	opacity: .4;
	pointer-events: none;
}

.todayContainerStyle {
	background-color: orange !important;
}

.todayContainerStyle h2 {
	color: white;
}

.containerStyle {
	border: none;
	background-color: #d3d3d3;
	margin-bottom: 10%;
}

.dateHeader {
	padding-top: 3%;
}

.todaysDate {
	font-weight: bolder;
	background-color: #333;
	border-radius: 5px;
	padding: 5px;
	margin-bottom: 5%;
	color: white;
}

.containerStyle h2 {
	font-weight: bold;
}

@media only screen and (max-width: 768px) {
	
	.weeksEvent {
		text-align: center;
		width: 100%;
	}
	
	.weekEventHeader {
		font-size: 20px !important;
	}
	
	.eventBlock {
		height: 200px;
		width: 90%;
	}

	.titleContainer {
		height: 30%;
		width: 100%;
	}
	
	.eventBlockName {
		font-size: 16px;
		border-radius: 10px 10px 0px 0px;
		height: 100%;
		max-height: none;
	}

	.eventBlockCreator {
		font-size: 13px;
	}


	.infoHolder {
		font-size: 13px;
		padding-top: 10%;
	}
	
	.eventIcon {
		display: none;
	}
}