.datepicker-switch
{
	 pointer-events: none;
}

.datepicker{
	display:inline-block;
	text-align: center;
}


.table-condensed th
{
	font-size: 20px;
}

.table-condensed td
{
	font-size: 20px;
}

.table-condensed > tbody > tr > td
{
	border: 1px solid red !important;
}

.entryFieldRegister
{
	text-align: center;
}

.calendarField
{
   display: inline-block;
}

#slotPicker td:hover
{
	cursor: pointer;
}

.slotSelected
{
	background-color: #d3d3d3;
}

#myModal
{
	overflow-y: auto;
}

.slotPicker > thead > tr > th
{
	border: 1px solid black;
}


.slotPicker > tbody > tr > th
{
	padding-top: 0;
	margin-top: 0;
	border: 1px solid black;
	padding-bottom: 20px;
}

.slotPicker > tbody > tr > td
{
	border: 1px solid black;
}


.blank > th
{
	border: none !important;
}

.fullSlot > td, .mySlot > td
{
	cursor: not-allowed !important;
}

.fullSlot 
{
	background-color: #ffb6c1;
}

.mySlot {
	background-color: #7fff7f;
}


.modal-open {
 overflow: auto; 
}

.descriptor {
	background-color: #333;
	border-radius: 5px;
	padding: 5px;
	color: white;
	width: 100%;
	
}

#eventLocation {
	font-weight: bold;
}

#eventDescriptionLabel {
	font-style: italic;
	font-weight: bold;
}

.fileUpload {
	padding-top: 30px;
	padding-bottom: 30px;
	padding-left: 20px;
	padding-right: 20px;
}

#submitFile {
	background-color: black;
	color: white;
	border: 1px solid black;
}

#noticeLabel {
	font-weight: bold;
}

#confirmationText {
	font-weight: bold;
	font-size: 16px;
}

#feedbackMessage {
	font-weight: bold;
}

.fileUploadContainer {
	margin-top: 25px !important;
	padding: 10px;
	border: 1px solid #d3d3d3;
	background: #333;
	border-radius: 10px;
}

.fileUploadContainer > label {
	color: orange;
}

.fileUploadContent {
	background-color: white;
	padding: 10px;
	border-radius: 10px;
}


@media only screen and (max-width: 768px) {
	.fileUpload {
		font-size: 10px;
		text-align: left;
	}
	
	.uploadPlaceholder {
		display:inline-block;
		vertical-align: middle;
	}
	
	#submitFile {
		display:inline-block;
		vertical-align: middle;
	}
}