/* Style the header with a grey background and some padding */
#footer {
	text-align: center;
	padding-top: 5px;
	padding-bottom: 0;
	margin: 0;
	color: white;
}

.header {
  overflow: hidden;
  background-color: orange;
  padding: 20px 10px;
  width: 100%;
  font-size: 32pt;
}

#headerLogo {
  height: 2em;
  cursor: pointer;
}

.navbar {
	width: 100%;
}

/* Style the header links */
.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

@import url(https://fonts.googleapis.com/css?family=Muli:400, 300);
body, html {
	background-color: grey;
	height: 100vh;
	width: 100%;
	overflow-x: hidden;
	overflow-y: auto;

}

.objectSpace
{
	padding: 40px;
	align-items: center;
	background-color: white;
	overflow-x: hidden;
	overflow: visible;
	min-height: 100vh;
}

.form-group
{
	padding: 10px;
}

.doNotDisplay
{
	display: none;
}

.activeNavItem {
	background-color: white;
}

.activeNavItem > a {
	color: black;
}

.search-form {
  float: right;
}

@media screen and (max-width: 768px) {
  
  .header {
	  font-size: 35px !important;
  }
  
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
  
  .objectSpace
  {
	padding-top: 10px;
	padding-left: 5px;
	padding-right: 5px;
  }
  
  .search-form > i{
	 display: none;
  }
	
  .search-form {
	float: none;
	padding-bottom: 15px;
  }
  
  #footer {
	font-size: 11px;
  }
}
