<div class="d-flex">
  <div class="table-times">
    <table class="table table-bordered table-date">
      <tr>
        <th>
          9am - 10am
        </th>
      </tr>
      <tr>
        <th>
          10am - 11am
        </th>
      </tr>
      <tr>
        <th>
          11am - 12pm
        </th>
      </tr>
      <tr>
        <th>
          12pm - 1pm
        </th>
      </tr>
      <tr>
        <th>
          1pm - 2pm
        </th>
      </tr>
      <tr>
        <th>
          2pm - 3pm
        </th>
      </tr>
      <tr>
        <th>
          3pm - 4pm
        </th>
      </tr>
      <tr>
        <th>
          4pm - 5pm
        </th>
      </tr>
    </table>
  </div>
  <div class="table-dates-container">
    <div class="d-flex">
      <div class="table-dates">
        <table class="table table-bordered table-date">
          <tr>
            <th>
              Fri, Jul 17
              <i class="fas fa-trash text-danger ml-2" data-toggle="modal" data-target="#delete-time-modal" role="button"></i>
            </th>
          </tr>
          <tr>
            <td>

            </td>
          </tr>
          <tr>
            <td>

            </td>
          </tr>
          <tr>
            <td>

            </td>
          </tr>
          <tr>
            <td>

            </td>
          </tr>
          <tr>
            <td>

            </td>
          </tr>
          <tr>
            <td>

            </td>
          </tr>
          <tr>
            <td>

            </td>
          </tr>
          <tr>
            <td>

            </td>
          </tr>
        </table>
      </div>
      <div class="table-dates">
        <table class="table table-bordered table-date">
          <tr>
            <th>
              Mon, Jul 20
              <i class="fas fa-trash text-danger ml-2" data-toggle="modal" data-target="#delete-time-modal" role="button"></i>
            </th>
          </tr>
          <tr>
            <td>

            </td>
          </tr>
          <tr>
            <td>

            </td>
          </tr>
          <tr>
            <td>

            </td>
          </tr>
          <tr>
            <td>

            </td>
          </tr>
          <tr>
            <td>

            </td>
          </tr>
          <tr>
            <td>

            </td>
          </tr>
          <tr>
            <td>

            </td>
          </tr>
          <tr>
            <td>

            </td>
          </tr>
        </table>
      </div>
      <div class="table-dates">
        <table class="table table-bordered table-date">
          <tr>
            <th>
              Tue, Jul 21
              <i class="fas fa-trash text-danger ml-2" data-toggle="modal" data-target="#delete-time-modal" role="button"></i>
            </th>
          </tr>
          <tr>
            <td>

            </td>
          </tr>
          <tr>
            <td>

            </td>
          </tr>
          <tr>
            <td>

            </td>
          </tr>
          <tr>
            <td>

            </td>
          </tr>
          <tr>
            <td>

            </td>
          </tr>
          <tr>
            <td>

            </td>
          </tr>
          <tr>
            <td>

            </td>
          </tr>
          <tr>
            <td>

            </td>
          </tr>
        </table>
      </div>
      <div class="table-dates">
        <table class="table table-bordered table-date">
          <tr>
            <th>
              Wed, Jul 22
              <i class="fas fa-trash text-danger ml-2" data-toggle="modal" data-target="#delete-time-modal" role="button"></i>
            </th>
          </tr>
          <tr>
            <td>

            </td>
          </tr>
          <tr>
            <td>

            </td>
          </tr>
          <tr>
            <td>

            </td>
          </tr>
          <tr>
            <td>

            </td>
          </tr>
          <tr>
            <td>

            </td>
          </tr>
          <tr>
            <td>

            </td>
          </tr>
          <tr>
            <td>

            </td>
          </tr>
          <tr>
            <td>

            </td>
          </tr>
        </table>
      </div>
      <div class="table-dates">
        <table class="table table-bordered table-date">
          <tr>
            <th>
              Thu, Jul 23
              <i class="fas fa-trash text-danger ml-2" data-toggle="modal" data-target="#delete-time-modal" role="button"></i>
            </th>
          </tr>
          <tr>
            <td>

            </td>
          </tr>
          <tr>
            <td>

            </td>
          </tr>
          <tr>
            <td>

            </td>
          </tr>
          <tr>
            <td>

            </td>
          </tr>
          <tr>
            <td>

            </td>
          </tr>
          <tr>
            <td>

            </td>
          </tr>
          <tr>
            <td>

            </td>
          </tr>
          <tr>
            <td>

            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
