<form enctype="multipart/form-data" method="post">
  <div class="row">
    <div class="col-md-6">
      {{ include('meetings/_meeting_info_form_fields.twig') }}
      <div class="mb-4">
        <label class="h6">Attendees Allowed Per Timeslot <span class="text-danger">*</span></label>
        <div class="row">
          <div class="col-6">
            <input class="form-control" min="1" max="100" name="capacity" type="number" value="{{meeting.capacity}}">
          </div>
        </div>
      </div>
      <div class="mb-4">
        <label class="h6">Select Meeting Dates</label>
        <div id="calendar"></div>
      </div>
      <div class="mb-4">
        <label class="h6">Slot Duration <span class="text-danger">*</span></label>
        <div class="row">
          <div class="col-6">
            <select class="form-control" id="duration" name="duration">
              <option>1 hour</option>
              <option>30 minutes</option>
              <option>15 minutes</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="mb-2">
        <label class="h6">Select Available Times</label>
        <ul class="d-flex list-unstyled" id="times-selector">
        </ul>
        <input id="times" type="hidden">
      </div>
      <div class="pt-4">
        <button class="btn btn-success">
          Save Meeting
        </button>
        <a class="ml-3" href="{{site_url}}/manage">
          Cancel
        </a>
      </div>
    </div>
  </div>
</form>
