{% extends 'layouts/logged_in.twig' %}

{% block page_content %}

<h1 class="h2 mb-4">
  {{title}}
</h1>
{% if meeting.creator_onid == user_onid %}
  {{ include('meetings/_meeting_details_mine.twig') }}
{% else %}
  {{ include('meetings/_meeting_details_other.twig') }}
{% endif %}

{% endblock %}
