{% extends "layout/layout.twig" %}

{% block page_head %} {% endblock %}


{% block page_content %}

<div class="container text-center objectSpace">
    <h1>Error {{ error_code }}</h1>
    <p>{{ error_message }}</p><br>
</div>

{% endblock %}