{% extends 'layout/logged_in_layout.twig' %}

{% block page_content %}
  <div class="container objectSpace">
    <!--
	<div class="welcomeTitle">
		<label> Signed in as: User </label>
	</div>
	       -->

    <div class="weeksEvent container">
      <div class="todayDateBorder container">
        <h4 class="todaysDate"></h4>
      </div>

      <h3 class="weekEventHeader">
        Events for this week
      </h3>
    </div>
  </div>

{% endblock %}

{% block page_footer %}

<!-- JavaScript specific to this page -->
<script type="text/javascript" src="static/view_js/main.js"></script>

{% endblock %}
