{% extends "layout/layout.twig" %}

{% block page_head %} 

	<link rel="stylesheet" href="css/main.css"> 	

{% endblock %}


{% block page_content %}

<div class="container objectSpace">

	<!--
	<div class="welcomeTitle">
		<label> Signed in as: User </label>
	</div>
	-->
	
	<div class="weeksEvent container">
		<div class="todayDateBorder container">
			<h4 class="todaysDate"></h4>
		</div>
		
		<h3 class="weekEventHeader"> Events for this week </h3>

	</div>

</div>


<!-- jQuery -->
<script type="text/javascript" src="js/jquery.min.js"></script>

<!-- Bootstrap tooltips -->
<script type="text/javascript" src="js/popper.min.js"></script>

<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="js/bootstrap.min.js"></script>

<!-- MDB core JavaScript -->
<script type="text/javascript" src="js/mdb.min.js"></script>

<!-- Your custom scripts (optional) -->
<script type="text/javascript"></script>

<!-- Date Range Picker -->

<script type="text/javascript"
	src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css" />

<!-- UI specific javascripts -->
<script type="text/javascript" src="view_js/ui.js"></script>

<script type="text/javascript" src="view_js/main.js"></script>

{% endblock %}