{% extends "layout/layout.twig" %}

{% block page_head %}

<link rel="stylesheet" href="css/registerStyle.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

{% endblock %}


{% block page_content %}

<div class="container entryFieldRegister objectSpace">

	<div class="descriptor container">
		<h2 id="eventName">{{event_name}}</h2>
		<br>
		<text id="eventLocation">{{location}}</text>
		<br><br>
		<text id="eventDescriptionLabel"></text>
		<p id="eventDescription"></p>
	</div>
	<br>

	<div class="calendarField container">
		<div id="datepicker2"></div>
	</div>

	<!-- <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Select TimeSlot</button> -->

	<table id="timeSlots" class="table mt-5 d-none">

		<tr class="row">
			{% for table_header in table_headers %}
			<th class="col">{{table_header}}</th>
			{% endfor %}
		</tr>

		{% for table_row in table_rows %}

		<tr class="row">
			{% for table_data in table_row %}
			<td class="col">{{table_data}}</td>
			{% endfor %}
		</tr>

		{% endfor %}

	</table>

	<!-- Modal -->
	<div id="myModal" class="modal fade" role="dialog">
		<div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Pick a timeslot</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>

				<div class="modal-body">

					<h3 id="dayLabel"></h3>
					<h2 id="dateLabel"></h2>

					<div class="container timeContainer">

						<table class="table table-bordered align-top slotPicker table-sm" id="slotPicker">
							<thead>
								<tr>
									<th scope="col">Time</th>
									<th scope="col">Slots</th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>

					</div>

				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-dark" id="submitButton">Submit</button>
				</div>
			</div>

		</div>

	</div>


	<!-- Modal FeedBack -->
	<div id="feedBackModal" class="modal fade" role="dialog">
		<div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content">

				<div class="modal-header">
					<h4 id="feedbackMessage" class="modal-title">You have been registered!</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>

				<div class="modal-body">
					<text id="confirmationText"> A confirmation email has been sent to your Oregon State Email! </text>
					
					{% if event_upload == 1 %}
							<br>
							<div class="fileUploadContainer">
								<label id="noticeLabel"> *Registration Notice* </label>
								<br>
								<div class="fileUploadContent">
									<label id="uploadLabel"> This event has file uploading enabled. You may optionally upload a file to your registration now or you can upload a file at a later time in the reservations page. </label>
										{% include "partials/upload.twig" %}
								</div>
							</div>
					{% endif %}
				</div>
				
				<div class="modal-footer">
					<button type="button" class="btn btn-dark" data-dismiss="modal">Finish</button>
				</div>
				
			</div>

		</div>

	</div>

</div>

<!-- jQuery -->
<script type="text/javascript" src="js/jquery.min.js"></script>

<!-- Bootstrap tooltips -->
<script type="text/javascript" src="js/popper.min.js"></script>

<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="js/bootstrap.min.js"></script>

<!-- MDB core JavaScript -->
<script type="text/javascript" src="js/mdb.min.js"></script>

<!-- Your custom scripts (optional) -->
<script type="text/javascript"></script>

<!-- Date Range Picker -->

<script type="text/javascript"
	src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css" />

<!-- UI specific javascripts -->
<script type="text/javascript" src="view_js/ui.js"></script>

<!-- JavaScript specific to this page -->
<script type="text/javascript" src="view_js/register.js"></script>

<!-- JavaScript for file upload -->
<script type="text/javascript" src="view_js/upload.js"></script>


{% endblock %}