{% extends 'layouts/logged_in.twig' %}

{% block page_content %}

<h1 class="h2 mb-4">
  {{title}}
</h1>
<div class="row">
  <div class="col-md-6">
    <form method="post">
      <div class="row">
        <div class="col-6 col-md-8 col-lg-6">
          <div class="mb-4">
            <label class="h6">Time Zone</label>
            <select class="form-control" name="title">
              <option>America/Los Angeles</option>
              <option>America/Chicago</option>
              <option>America/New York</option>
            </select>
          </div>
        </div>
      </div>
      <h4 class="h6">
        Default Meeting Times
      </h4>
      <div class="row">
        <div class="col-6 col-md-8 col-lg-6">
          <div class="mb-4">
            <label class="h6">Start Time</label>
            <select class="form-control" name="title">
              <option>9:00am</option>
            </select>
          </div>
          <div class="mb-4">
            <label class="h6">End Time</label>
            <select class="form-control" name="title">
              <option>9:00pm</option>
            </select>
          </div>
        </div>
      </div>
      <div class="pt-4">
        <button class="btn btn-success">
          Save Settings
        </button>
        <a class="ml-3" href="{{site_url}}/meetings">
          Cancel
        </a>
      </div>
    </form>
  </div>
</div>

{% endblock %}
