.DS_Store

# Editors
.idea
.viminfo
.vscode

# Environment variables
.env

# Composer
composer.phar
bin/composer

# Node
node_modules

uploads/*
!uploads/.gitkeep
vendor/*
!vendor/.gitkeep

secret1
secret2
text_file
