.DS_Store
.php_cs.cache
.htpasswd
*.log

# Editors
.idea
.viminfo
.vscode

# Environment variables
.env

# Composer
composer.phar

# Node
node_modules

bin/*
!bin/pre-commit
!bin/pre-push
uploads/*
!uploads/.gitkeep
vendor/*
!vendor/.gitkeep

secret*
text_file
