RewriteEngine On
RewriteBase /

<files ".env">
Require all denied
</files>

<files "secret1">
Require all denied
</files>

<files "secret2">
Require all denied
</files>

<files "text_file">
Require all denied
</files>
