<div class="header">
	<img id="headerLogo" src="MyEventBoardLogos/MEB_logo-02.png"></img>
</div>

<script>
	
	var header = document.getElementById("headerLogo");
	header.addEventListener("click", function() {
		window.location = "./";
	});
	
</script>