<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

	<!-- Side Bar Toggle button -->
    <div class>
			
            <button type="button" id="sidebarCollapse" class="btn-sm btn-outline-warning btn-square">
                <i class="#sidebarCollapse navbar-toggler-icon"></i>
            </button>

    </div>
    	
	
</nav>