<!-- Search Bar -->

<form class="form-inline search-form">
  <i class="fas fa-search" aria-hidden="true"></i>
  <input class="form-control form-control-sm ml-3 w-75" type="text" id="tableSearch" placeholder="Search"
    aria-label="Search">
</form>
