<div class="bg-light border-right side-bar" id="sidebar-wrapper">
	<div class="list-group list-group-flush">
		<a href="#" class="list-group-item list-group-item-action bg-light">My Events</a>
		<a href="#" class="list-group-item list-group-item-action bg-light">My Invites</a>
		<a href="#" class="list-group-item list-group-item-action bg-light">Create an Event</a>
	</div>
</div>