<!-- Side bar ------------------------------>
<!-- Source: https://bootstrapious.com/p/bootstrap-sidebar -->

<nav id="sidebar">
        <div class="sidebar-header">
            <h3>Dashboard</h3>
        </div>

        <ul class="list-unstyled components">
         
            <li>
                <a href="#">My Invites</a>
            </li>
            <li>
                <a href="#">My Events</a>
            </li>
            <li>
                <a href="#">Create An Event</a>
            </li>
        </ul>
</nav>