{% extends 'layouts/logged_in.twig' %}

{% block page_content %}

<h1 class="h2 mb-4">
  {{title}}
</h1>
<div class="mb-4">
  <div class="d-inline-block mr-3">
    <span class="d-inline-block mr-2 px-2 py-1 meeting-mine"></span>
    Meetings Created By Me
  </div>
  <div class="d-inline-block ">
    <span class="d-inline-block mr-2 px-2 py-1 meeting-other"></span>
    Meetings Created By Others
  </div>
</div>
<div class="mb-5" id="calendar"></div>

{% endblock %}

{% block page_footer %}

<script>
  document.addEventListener("DOMContentLoaded", function() {
    var calendarElement = document.getElementById("calendar");

    var events = {{meetings | raw}};

    var mappedEvents = events.map(function(event) {
      return {
        classNames: event.creator_onid === "{{user_onid}}" ? ["meeting-mine"] : ["meeting-other"],
        title: event.name,
        url: "{{site_url}}/meetings/" + event.id,
        start: event.start_time
      }
    });

    var calendar = new FullCalendar.Calendar(calendarElement, {
      events: mappedEvents,
      initialView: "dayGridMonth"
    });
    calendar.render();
  });
</script>

{% endblock %}
