label
{
	font-weight: bold;
}

.requiredSign
{
	color: red;
}

.requiredInput
{
	border-color: red;
}

.entryField1
{
	height: fit-content;
	padding: 10px;
}

.entryField2
{
	padding: 10px;

}
.timeSelectionField
{
	overflow-x: auto;
}

.submitField
{
	padding: 10px;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	vertical-align: middle;
}

.nextBackField
{
	float: none !important;
	text-align: right !important;
}

.timeSelector
{
	background-color: white;

}

.timeSelector table
{
	table-layout: fixed;
	min-width: 100%;
	border: none;
}

.timeSelector td
{
	cursor: pointer;
	border: 1px solid black;
}

.timeSelector th
{
	font-size: 10px;
	padding-top:0 !important;
	border: none;
}


#timeSelector td.selected
{
	background-color:#ccc;
}

