.eventNameOnViewer {
	background: #333;
	padding: 10px;
	border-radius: 10px;
	text-align: center;
	margin-top: 5px;
	margin-bottom: 15px;
}

#eventName {
	font-weight: bold !important;
	padding: 10px;
	color: orange;
}

.containerForActionsAndInformation {
	text-align: center;
}


.toolbarContainer {
	border: 4px solid #333;
	border-radius: 10px;
	background-color: #d3d3d3;
	box-shadow: 3px 3px 3px 3px rgba(0, 0, 255, .2);
	width: 40%;
	display: inline-block;
	margin: 10px;
	text-align: center;
	background-color: #333;
}

.logisticsContainer {
	border: 4px solid #333;
	border-radius: 10px;
	background-color: #d3d3d3;
	box-shadow: 3px 3px 3px 3px rgba(0, 0, 255, .2);
	width: 90%;
	display: inline-block;
	margin: 10px;
	text-align: center;
	background-color: #333;
}

.logisticsContainer > h4, .toolbarContainer > h4 {
	font-weight: bold;
	padding: 10px;
	color: orange;
}

.buttonsContainer  {
	background: #d3d3d3;
	border-radius: 10px;
	padding: 5px;
}

.informationContainer > label, .informationContainer > h4 {
	padding-left: 10px;
	font-weight: bold;
	padding-right: 10px;
	padding-top: 5px;
}

.informationContainer {
	padding: 5px;
	border-radius: 10px;
	background: white;
}

.buttonsContainer > div {
	display: block;
}

.removedContainer {
	text-align: center;
}

.inviteInstructions {
	font-weight: bold;
	text-align: center;
}

.requirementsForInviteText {
	color: red;
}

#uploadLabel {
	font-weight: bold;
}

.warningUndoneContainer {
	text-align: center;
	color: red;
	font-weight: bold;
}

.deleteUserSlot {
	border: none;
	background-color: rgba(0,0,0,0);
	color: red;
}

.slotsContainer {
	text-align: center;
}

.slotsContainer > .table > tbody > tr > td {
     vertical-align: middle;
}

.informationContainer > label > text {
	font-weight: 400 !important;
}

@media only screen and (max-width: 768px) {

	
	.toolbarContainer, .logisticsContainer {
		width: 100%;
		text-align: center;
		margin-left: 0;
		margin-right: 0;
	}
	
	.fileDownloadButton > text {
		display: none;
	}

	.slotsContainer {
		text-align: center;
	}
	
	.table {
		font-size: 10px;
		margin: 0;
		padding: 0;
	}
	
	.table > tr {
		white-space: nowrap !important;
	}
	
}