.yourInvites {
	text-align: center;
}

.yourInvites > .table > tbody > tr > td {
     vertical-align: middle;
}

.pastEventsContainer > .table > tbody > tr > td {
     vertical-align: middle;
}

.pastEventsTable {
	text-align: center;
}

.pastEventsTable > thead > tr , .pastEventsTable > tbody > tr{
	opacity: .65;
}

.pastEventsTable > tbody > tr > td > a {
	color: black !important;
}

.pastEventsField {
	
	margin-top: 15%;
	
}

.containerForEventsToDelete > ul > li {
	background-color: orange;
	font-weight: bold;
	border: 1px solid black;
	margin-top: 3px;
}

.containerForEventsToDelete > ul {
	background-color: white;
	padding: 10px;
	margin: 10px;
}

.containerForEventsToDelete {
	padding: 10px;
	border: none !important;
	background: white !important;
}

#deleteSelectedConfirmBox {
	float: none !important;
	text-align: right !important;
}

.eventManageButton {
	border: none;
	background: none;
	color: #0000EE ;
}