.containerForActionsAndInformation {
	text-align: center;
}

.eventNameOnViewer {
	background: #333;
	padding: 10px;
	border-radius: 10px;
	text-align: center;
	margin-top: 5px;
	margin-bottom: 15px;
}

#eventName {
	font-weight: bold !important;
	padding: 10px;
	color: orange;
}

.fileUploadContainer {
	background: white;
	padding: 10px;
	border-radius: 10px;
	width: 60%;
}

.toolbarContainer > h4 {
	font-weight: bold;
	padding: 10px;
	color: orange;
}

.toolbarContainer {
	border: 4px solid #333;
	border-radius: 10px;
	background-color: #d3d3d3;
	box-shadow: 3px 3px 3px 3px rgba(0, 0, 255, .2);
	width: 30%;
	display: inline-block;
	margin: 5px;
	text-align: center;
	background-color: #333;
}

.reservationContainer{
	border: 4px solid #333;
	border-radius: 10px;
	background-color: #d3d3d3;
	box-shadow: 3px 3px 3px 3px rgba(0, 0, 255, .2);
	margin: 5px;
	text-align: center;
	background-color: #333;
}

.reservationContainer > h4 {
	font-weight: bold;
	padding: 10px;
	color: orange;
}

.buttonsContainer {
	background: #d3d3d3;
	border-radius: 10px;
	padding: 10px;
}

.buttonsContainer > div {
	display: block;
}

#uploadLabel {
	font-weight: bold;
}

.eventInformation {
	border: 5px solid #d3d3d3;
	border-radius: 10px;
	padding: 15px;
	background: #d3d3d3;
}

.eventInformationValues {
	border: 5px solid white;
	border-radius: 10px;
	padding: 15px;
	background: white;
}

.eventInformationValues > h3 {
	font-weight: bold;
}

.eventInformationValues > h3 > span {
	font-weight: 300;
}

#submitFile {
	background-color: black;
	color: white;
	border: 1px solid black;
}

h2 {
	font-weight: bold;
}

h2 > text, h2> a {
	font-weight: 300 !important;
}

.removedContainer {
	text-align: center;
}

.fileContainer > h2, .fileContainer > a{
	display:inline-block;
	vertical-align: middle;
    margin: 10px 0;
}

.warningUndoneContainer {
	text-align: center;
	color: red;
	font-weight: bold;
}

@media only screen and (max-width: 768px) {

	h3 {
		font-size: 16px;
	}

	h3 > text {
		font-size: 16px;
	}
	
	#eventName {
		font-size: 25px;
	}
	
	.toolbarContainer {
		width: 100%;
		text-align: center;
	}
	
	.entryField1 {
		width: 100%;
		padding: none !important;
		margin: none !important;
	}
	
	.reservationContainer {
		padding: none !important;
		margin: none !important;
		width: 100%;
	}
	
	.fileUploadContainer {
		background: white;
		border-radius: 0px;
		padding: 5px;
		width: 100%;
	}
	
	.fileDownloadButton > text {
		display: none;
	}
	
	.eventInformation {
		border: 1px solid #d3d3d3;
		border-radius: 10px;
		padding: 10px;
		background: #d3d3d3;
	}

	.eventInformationValues {
		border: 1px solid white;
		border-radius: 10px;
		padding: 10px;
		background: white;
	}
	
	.fileUpload {
		font-size: 10px;
		text-align: left;
	}
	
	.uploadPlaceholder {
		display:inline-block;
		vertical-align: middle;
	}
	
	#submitFile {
		display:inline-block;
		vertical-align: middle;
	}
	
}