/* Global */
:root {
  --navbar-height-desktop: 100px;
  --navbar-height-mobile: 80px;
  --osu-orange: #d73f09;
  --osu-orange-secondary: #c34500;
  --osu-orange-secondary-hover: #615042;
}

body {
  background: #fff;
  color: #000;
  font-size: .875rem;
}

a,
a:hover {
  color: var(--osu-orange);
}

.h4,
.h5,
.h6 {
  color: #333;
}
