/* Calendar */
.calendar-meeting-mine {
  background-color: rgba(195, 69, 0, 0.15);
  border: 1px solid var(--osu-orange-secondary);
  color: #000;
  padding: 0.25rem;
}

.calendar-meeting-other {
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
  color: #000;
  padding: 0.25rem;
}

.fc-daygrid-event-dot {
  display: none;
}

.fc-day {
  cursor: pointer;
}
