{% extends 'layouts/logged_out.twig' %}

{% block page_content %}

<div class="container p-3 bg-white">
  <h1 class="h2 mb-4">
    {{title}}
  </h1>
  <p>
    {{message}}
  </p>
</div>

{% endblock %}
