<!-- Side bar -->
<!-- Source: https://bootstrapious.com/p/bootstrap-sidebar -->

    <nav id="sidebar">
		
		<div id="dismiss">
			<button type="button" class="btn-square btn-outline-light" id="sidebarCollapseIcon">
				<i class="fas fa-arrow-left"></i>
			</button>
        </div>
		
		<div class="sidebar-header">
            <h3>Dashboard</h3>
        </div>

        <ul class="list-unstyled components">
            <li>
                <a href="#">My Invites</a>
            </li>
            <li>
                <a href="#">My Events</a>
            </li>
            <li>
                <a href="#">Create An Event</a>
            </li>
        </ul>
    </nav>


